#ConteneurAccueil {
    width: 100%;
    min-height: 100vh;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#BarreNavigation {
    text-align: center;
    width: 35%;
    margin: auto;
    margin-bottom: 2%;
}