#conteneurBlogueForm {
    margin-bottom: 30px;
}

#inputFieldBlogueForm {
    width: 80%;
}

#textareaBlogueForm {
    width: 90%;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    width: 100%;
}