.ligne_gestion_demande_collab{
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    height: 10%;
    padding: auto;
}

.titre_mes_demandes {
    text-align: center;
}

.conteneur_info_compte {
    display:inline;
    align-self: center;
}

.nom_utilisateur {
    text-align: left;
}

.titre_projet {
    text-align: left;
}

.conteneur_gestion_collab {
    float: left;
    width: 50%;
    height: 100%;
}

.image_profil {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.conteneur_bouton {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
}

.bouton {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.bouton img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.conteneur_gestion_projet {
    float: left;
    width: 50%;
} 

.titre_mes_projets_rapide {
    text-align: center;
}

.ligne_gestion_projet {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    height: 10%;
    padding: auto;
}

.conteneur_gestion {
 /*div du menu au complet*/
}