:root {

    /*Couleur du text*/
    --text_color_dark: rgb(255, 255, 255);
    --text_color_light: rgb(59, 30, 72);

    /*Couleur d'accent*/
    --accent_color_dark: rgb(121, 61, 154);
    --accent_color_light: rgb(157, 102, 197);

    /*Couleur de fond*/
    --background_dark: rgb(20, 14, 23);
    --background_light: rgb(247, 228, 252);

    /*Couleur de fond secondaire*/
    --background_dark_secondary: rgb(79, 39, 108);
    --background_light_secondary: rgb(206, 141, 224);

    /*Couleur de fond tertiaire*/
    --background_dark_tertiary: rgb(121, 73, 155);
    --background_light_tertiary: rgb(88, 21, 119);

    /*Couleur du gradient*/
    --gradient_dark: linear-gradient(var(--background_dark_tertiary), var(--background_dark_secondary), transparent);
    --gradient_light: linear-gradient(var(--background_light_tertiary), var(--background_light_secondary), transparent);

    /*Couleur du gradient secondaire*/
    --gradient_dark_secondary: linear-gradient(rgb(245, 185, 22), rgb(240, 117, 22), rgb(231, 39, 93));
    --gradient_light_secondary: linear-gradient(rgb(246, 92, 184), rgb(252, 163, 85), rgb(253, 221, 106));

    /*Couleur de fond container*/
    --dark_container_color: rgba(255, 255, 255, 0.199);
    --light_container_color: rgba(163, 124, 183, 0.219);

    /*Couleur de fond input field*/
    --dark_input_field_color: rgba(255, 255, 255, 0.25);
    --light_input_field_color: rgba(242, 225, 249, 0.913);

    /*Couleur de bordure (Input field et Container*/
    --dark_border_color: rgb(94, 94, 94);
    --light_border_color: rgb(119, 119, 119);

    /*Couleur de fond bouton*/
    --dark_button_color: var(--accent_color_dark);
    --light_button_color: var(--accent_color_light);

    /*Couleur du text bouton*/
    --dark_button_text_color: rgb(247, 232, 247);
    --light_button_text_color: rgb(98, 9, 145);

    /*Couleur de fond bouton2*/
    --dark_button2_color: rgb(86, 29, 117);
    --light_button2_color: rgb(247, 232, 247);

    /*Couleur du text bouton2*/
    --dark_button2_text_color: rgb(243, 234, 243);
    --light_button2_text_color: rgb(98, 9, 145);

    /**/
    --dark_container_post_color: rgba(138, 138, 138, 0.16);
    --light_container_post_color: rgba(103, 18, 114, 0.256);

    /*Couleur conteneur getsion */
    --dark_container_gestion: rgb(69, 61, 76);
    --light_container_gestion: rgb(98, 9, 145);


    /*Couleur du background du container gestsion projet rapide*/
    --dark_container_gestion_projet_rapide: rgba(69, 64, 75, 0.425);
    --light_container_gestion_projet_rapide: rgb(98, 9, 145);

    /*Couleur du background du container gestsion collaboration*/
    --dark_container_gestion_collaboration: rgba(138, 138, 138, 0.283);
    --light_container_gestion_collaboration: rgb(98, 9, 145);




    /* ===================================== */
    /* VARIABLES QUI CHANGENT SELON LE THEME */
    /* ça utilise quand meme celles définies */
    /* en haut, mais elles changent selon le */
    /*         theme automatiquement         */
    /* ===================================== */
    /*                  | |                  */
    /*                  v v                  */

    /*Thème sombre*/
    --auto_text_color: var(--text_color_dark);
    --auto_text_secondary_color: var(--text_secondary_color_dark);
    --auto_accent_color: var(--accent_color_dark);
    --auto_background: var(--background_dark);
    --auto_background_secondary: var(--background_dark_secondary);
    --auto_background_tertiary: var(--background_dark_tertiary);
    --auto_gradient: var(--gradient_dark);
    --auto_gradient_secondary: var(--gradient_dark_secondary);
    --auto_container_color: var(--dark_container_color);
    --auto_input_field_color: var(--dark_input_field_color);
    --auto_border_color: var(--dark_border_color);
    --auto_button_color: var(--dark_button_color);
    --auto_button_text_color: var(--dark_button_text_color);
    --auto_button2_color: var(--dark_button2_color);
    --auto_button2_text_color: var(--dark_button2_text_color);
    --auto_container_post_color: var(--dark_container_post_color);
    --auto_container_gestion_projet_rapide: var(--dark_container_gestion_projet_rapide);
    --auto_container_gestion: var(--dark_container_gestion);
    --auto_container_gestion_collaboration: var(--dark_container_gestion_collaboration);

    /*Thème clair*/
    @media (prefers-color-scheme: light) {
        --auto_text_color: var(--text_color_light);
        --auto_text_secondary_color: var(--text_secondary_color_light);
        --auto_accent_color: var(--accent_color_light);
        --auto_background: var(--background_light);
        --auto_background_secondary: var(--background_light_secondary);
        --auto_background_tertiary: var(--background_light_tertiary);
        --auto_gradient: var(--gradient_light);
        --auto_gradient_secondary: var(--gradient_light_secondary);
        --auto_container_color: var(--light_container_color);
        --auto_input_field_color: var(--light_input_field_color);
        --auto_border_color: var(--light_border_color);
        --auto_button_color: var(--light_button_color);
        --auto_button_text_color: var(--light_button_text_color);
        --auto_button2_color: var(--light_button2_color);
        --auto_button2_text_color: var(--light_button2_text_color);
        --auto_container_post_color: var(--light_container_post_color);
        --auto_container_gestion_projet_rapide: var(--light_container_gestion_projet_rapide);
        --auto_container_gestion: var(--light_container_gestion);
        --auto_container_gestion_collaboration: var(--light_container_gestion_collaboration);

    }

}

body {
    background-color: var(--auto_background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--auto_text_color);
    accent-color: var(--auto_accent_color);
    min-height: 55vh;
    padding-top: 170px;
    padding-bottom: 20px;
    transition: 0.3s;
    accent-color: var(--auto_accent_color);
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--auto_text_color);
}

.global_title {
    text-align: center;
    color: var(--auto_text_color);
}

.global_subtitle {
    text-align: center;
    color: var(--auto_text_color);
    margin-left: 5px;
    opacity: .85;
}

.global_input_field_label {
    margin-bottom: 3px;
    font-size: 17px;
    font-weight: bold;
    opacity: 70%;
    padding: 5px;
}

.global_input_field {
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border: none;
    background-color: var(--auto_input_field_color);
    color: var(--auto_text_color);
}

textarea {
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.global_bouton {
    padding: 13px 30px 13px 30px;
    border: 0px;
    width: fit-content;
    border-radius: 50px;
    color: var(--auto_button_text_color);
    background-color: var(--auto_button_color);
    font-weight: bold;

}

.global_bouton2 {
    padding: 13px 30px 13px 30px;
    border: 0px;
    width: fit-content;
    border-radius: 50px;
    color: var(--auto_button2_text_color);
    background-color: var(--auto_button2_color);
    font-weight: bold;

}

.global_conteneur {
    border-radius: 20px;
    border: none;
    padding: 20px;
    background-color: var(--auto_container_color);
}


.global_conteneurCouleur {
    background-image: var(--auto_gradient_secondary);
    border-radius: 70px;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


.global_conteneur_post {
    border-radius: 20px;
    border: none;
    padding: 20px;
    background-color: var(--auto_container_post_color);
}