#HeaderConnecte {
    background: var(--gradient_dark);
}

#IconeUtilisateur {
    text-align: right;
    padding: 2%;
}


#HeaderSection2 {
    display: inline-flex;
    text-align: center;
    width: 100%;
}

#HeaderSection2 div {
    margin: auto;
}

#HeaderSection2 h1 {
    padding: 5px;
    width: 100%
}

#BarreNavigation {
    text-align: center;
}

#BarreNavigation {
    width: 35%;
    margin: auto;
    margin-bottom: 2%;
}

@media (prefers-color-scheme: light) {
    #HeaderConnecte {
        background: var(--gradient_light);
    }
}