#HeaderConnecte {
    background: var(--auto_background_color_header);
    backdrop-filter: blur(32px) saturate(200%);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100vw;
    height: fit-content;
    font-size: 20px;
    height: 80px;
}


/* #IconeUtilisateur {
    text-align: right;
    padding: 7px;
} */



#HeaderHaut {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-inline: 16px;
    margin-inline: auto;
    margin-top: 5px;
}

#HeaderHaut > div {
    margin-block: auto;
}

/* #HeaderHaut h1 {
    padding: 5px;
    width: 100%
} */