.body {
    width: 80vw;
    margin: 0 auto;
}

.container {
    
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

}

.sidebar {
    width: 400px;
    background-color: var(--auto_container_color);
    border-radius: 16px;
    opacity: .8;
}

#first_link {
    border-radius: 12px 12px 6px 6px;
}

.selected {
    font-weight: 700;
    background-color: rgba(119, 119, 119, 0.215);
}

.link {
    text-decoration: none;
    color: var(--auto_text_color);
}

.settings_link {
    flex-grow: 1;
    font-size: 1.2rem;
    margin: 4px;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.2s;
}

.settings_link:hover {
    background-color: rgba(119, 119, 119, 0.367);
    transition: 0.2s;
}
