.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 8px;
}

.header {
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.header_content {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1;
}

.user_info {
    padding-left: 15px;
    line-height: 0.2;
}


.display_name {
    font-weight: 600;
    font-size: 1.2rem;
}


.username {
    opacity: 70%;
}


.date {
    align-items: end;
}

.image_profil {
    object-fit: cover;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.titre {
    text-decoration: none;
    color: var(--auto_text_color)
}

.contenu {
    word-wrap: break-word;
}

.footer {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bouton_interraction {
    padding: 8px 14px;
    border-radius: 100px;
    transition: 0.2s;
}

.bouton_interraction:hover {
    cursor: pointer;
    transition: 0.2s;
}

.icone {
    margin-right: 10px;
    margin-bottom: -2px;
    scale: 1.2;
    transition: 0.1s;
}

#bouton_interraction_reply:hover {
    background-color: rgba(255, 208, 0, 0.192);
    transition: 0.1s;
}

#icone_reply:hover {
    color: rgb(255, 123, 0);
    transition: 0.1s;
}


.interraction_count {
    margin: auto;
}

/* === Widget like/dislike === */
.like_dislike_container {
    display: flex;
    flex-direction: row;
}


#bouton_interraction_like, #bouton_interraction_dislike {
    padding: 8px 8px;
    margin: 0px 4px;
    border-radius: 100px;
    transition: 0.2s;
}
#bouton_interraction_like:hover {
    background-color: rgba(0, 255, 34, 0.192);
    transition: 0.1s;
}

#bouton_interraction_dislike:hover {
    background-color: rgba(255, 0, 0, 0.192);
    transition: 0.1s;
}

#icone_like, #icone_dislike {
    margin: 0;
    margin-bottom: -2px;
}

#icone_like:hover {
    color: rgb(0, 187, 62);
    transition: 0.1s;
}

#icone_dislike:hover {
    color: rgb(170, 0, 0);
    transition: 0.1s;
}
/* === Widget like/dislike === */

#bouton_interraction_partage:hover {
    background-color: rgba(153, 0, 255, 0.13);
    transition: 0.1s;
}

#icone_partage:hover {
    color: rgb(111, 0, 255);
    transition: 0.1s;
}

/* .post_ferme {
    transition: 0.4s;
}

.post_ouvert {
    background-color: blue;
    transition: 0.4s;
} */