

#conteneur {
    margin-bottom: 15%;
}

.conteneurDiv {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    width: 100%;
}

#input {
    border-radius: 17px 17px 10px 10px;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}


#textarea {
    border-radius: 10px 10px 16px 16px;
    padding: 15px;
 
}

#divCollab {
    width: 100%;
}

#inputCollab {
    margin-top: 10px;
    border-radius: 12px;
    
}

#conteneurDivFooter {
    text-align: right;
    padding-top: 15px;
}

#span {
    margin-right: 15px;
}


/*À ajuster ou effacer ↓*/

.conteneur {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 20px;
    margin-bottom: 30px;
}

.conteneurCommentaire {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

/*À ajuster ou effacer ↑*/




/* Boutons */
.conteneurBoutons {
    text-align: center;
    margin: 3% auto;
    width: 100%;
}

#boutonQuestion, #boutonCollab {
    margin-left: 10px;
}


.boutonSelectionne {
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 130px;
    border: none;
    color: var(--auto_text_color);
    background-color: var(--auto_button_color);
    font-weight: bold;
}

.boutonNonSelectionne {

    text-align: center;
    border-radius: 15px;
    padding: 10px;
    width: 130px;
    border: none;
    color: var(--auto_button_unselected_text_color);
    background-color: var(--auto_button_unselected_color);
    font-weight: bold;

}

.boutonNonSelectionne:hover {
background-color: var(--auto_button_unselected_hover_color);

}