.container {
    margin-left: 5%;
}

.container_parametres {
    border-radius: 0 20px 20px 0;
    border: none;
    padding: 10px 20px;
    background-color: var(--auto_container_color_2);
}

#containerDiv {
    width: 100%;
    text-align: right;
    padding-top: 10px;
}



.exemple_animation {
    padding-top: 10px;
    margin: auto;
}

#titleParametres {
    background-color: var(--auto_container_post_color);
    border-radius: 15px 15px 8px 8px;
    padding: 20px;
    margin-top: 10px;
}

#input {
    margin-bottom: 10px;
    margin-top: 10px;
}

.containerDiv {
    display: flex;
}

.hr {
    width: 85%;
}

.import_image {
    max-width: max-content;
    margin: 25px 0px;
}

.upload_input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70vw;
}

#conteneuurChoisirImg {
    display: flex;

}

#conteneurIcone {
    background-color: var(--auto_selected_button_color);
    border: 0px;
    width: fit-content;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    padding-top: 3px;
    font-weight: bold;
}


input[type="file"] {
    display: none;
}

#custom-file-upload {
    background-color: var(--auto_selected_button_color);
    color: var(--auto_selected_button_text_color);
    padding: 13px 15px 13px 9px;
    border: 0px;
    width: fit-content;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    cursor: pointer;
}



#icone {
    color: var(--auto_text_color);
}

@media only screen and (max-width: 850px) {
    /* .container_parametres {
        width: 80%;
    } */
}

/* Dropdown Menu */

.selectInterface {
    padding-left: 15px;
    border: 0px;
    width: fit-content;
    border-radius: 15px;
    background-color: #aeaeae;
    font-weight: bold;
    min-width: 150px;
    max-height: min-content;
    font: inherit;
    appearance: none;
    background-image:
        linear-gradient(45deg, transparent 50%, rgb(79, 36, 122) 50%),
        linear-gradient(135deg, rgb(92, 40, 203) 50%, transparent 50%),
        radial-gradient(#7f45a6 70%, transparent 72%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}

.selectInterface:focus {
    background-image:
        linear-gradient(45deg, rgb(92, 40, 203) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, rgb(92, 40, 203) 50%),
        radial-gradient(#7f45a6 70%, transparent 72%);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - .5em) .5em;
    background-size:
        5px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}


.selectInterface option {
    color: #000000;
    background: rgb(255, 255, 255)
}




/*Select Fin*/
